@import '../../vars.scss';
.chat {
  width: 100%;
  height: 100%;
  display: flex;
}

.chat__left-column {
  min-width: 310px;
  max-height: 100%;
  border-right: #EAEAEA solid 1px;
  background-color: $default-background-color;
  text-align: right;
}

.chat__left-column-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.chat__right-column {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;

}

.chat__messages {
  overflow-y: auto;
  height: 100%;
}

.chat__right-column-header {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.chat__list {
  overflow-y: auto;
  max-height: 90%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: left;
}

.chat__list::-webkit-scrollbar {
  display: none;
}

.chat__messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.chat__message_other {
background-color: $default-background-color;
max-width: 40%;
align-self: start;
padding: 11px;
margin-bottom: 10px;
border-radius: 0 10px 10px 10px;
}

.chat__message_my {
  background-color: $default-background-color;
  max-width: 40%;
  align-self: end;
  padding: 11px;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 10px;
}

.chat__input-form { 
display: flex;
width: 100%;
padding: 0 40px 20px;
box-sizing: border-box;
}

.chat__message-input {
  width: 100%;
}

.chat__send-button {
  background-color: $default-background-color;
  border: none;
  cursor: pointer;
}