@import '../../vars';
.button {
  color: $button-text-color;
  background-color: $primary-color;
  border-radius: 8px;
  width: 280px;
  height: 37px;
  border: none;
  cursor: pointer;
}

.button_disabled {
  background-color: $button-disabled-color;
}