<h1>Entry!</h1>
<form class="signin__form" name="signin">
  <input
    class="signin__form-input"
    type="text"
    placeholder="login"
    name="login"
  />
  <span class="signin__login-error form-error"></span>
  <input
    class="registration__form-input"
    type="password"
    placeholder="password"
    name="password"
  />
  <span class="registration__password-error form-error"></span>
  <button name="submit">Sign in</button>
  <a href="/registration">Registration</a>
</form>