<section class="registration card">
  <form class="registration__form card__form" name="registration">
    <h1 class="registration__title card__title">Registration</h1>
    {{{inputs}}}
  </form>
  {{{button}}}
  <a class="registration__link link" href="/signin">Sign in</a>
</section>