<section class="container_align-center">
  <div class="signin card">
    <form class="signin__form card__form form" name="signin">
      <h1 class="signin__title card__title">Sign in</h1>
      {{{inputs}}}
      {{{button}}}
    </form>

    {{{registrationLink}}}
  </div></section>