<section class="container_align-center">
  <div class="signin card">
    <form class="signin__form card__form" name="signin">
      <h1 class="signin__title card__title">Sign in</h1>
      {{{inputs}}}
    </form>
    {{{button}}}
    <a class="signin__link link" href="/registration">Registration</a>
  </div></section>