<section class="container_align-center">
  <div class="password-change card">
    <form class="password-change__form card__form form" name="passwordChange">
      <h1 class="password-change__title card__title">Password changing</h1>
      {{{inputs}}}
      {{{button}}}
    </form>
  </div>
</section>