<section class="password-change card">
  <form class="password-change__form card__form" name="signin">
    <h1 class="password-change__title card__title">Password changing</h1>
    {{>input
      class="password-change__form-input"
      type="password"
      placeholder="old password"
      name="oldPassword"
      errorClass="password-change__password-error form-error"
    }}
    {{>input
      class="password-change__form-input"
      type="password"
      placeholder="new password"
      name="newPassport"
      errorClass="password-change__password-error form-error"
    }}
    {{>input
      class="password-change__form-input"
      type="password"
      placeholder="new password one more time"
      name="newPassportRepeat"
      errorClass="password-change__password-error form-error"
    }}
  </form>
{{{button}}}
</section>