<section class="password-change card">
  <form class="password-change__form card__form" name="signin">
    <h1 class="password-change__title card__title">Password changing</h1>
    {{{inputs}}}
  </form>
  {{{button}}}
</section>