@import '../../vars.scss';
.profile-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.back-to-chat {
  width: 64px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $default-background-color;
  border-right: #eaeaea solid 1px;
  cursor: pointer;
}

.profile {
  height: 100%;
  width: 100%;
}

.profile__avatar {
  align-self: center;
}

.profile__button {
  margin-top: 20px;
}
