<h1>Profile!</h1>
<img src="{{avatarUrl}}" alt="avatar" />
<form class="profile__form" name="profile">
  <input
    class="profile__form-input"
    type="email"
    placeholder="email"
    name="email"
  />
  <span class="profile__email-error form-error"></span>
  <input
    class="profile__form-input"
    type="text"
    placeholder="login"
    name="login"
  />
  <span class="profile__login-error form-error"></span>
  <input
    class="profile__form-input"
    type="text"
    placeholder="first name"
    name="first_name"
  />
  <span class="profile__first-name-error form-error"></span>
  <input
    class="profile__form-input"
    type="text"
    placeholder="second name"
    name="second_name"
  />
  <span class="profile__second-name-error form-error"></span>
  <input
    class="profile__form-input"
    type="text"
    placeholder="display name"
    name="display_name"
  />
  <span class="profile__second-name-error form-error"></span>
  <input
    class="profile__form-input"
    type="phone"
    placeholder="phone"
    name="phone"
  />
  <span class="profile__phone-error form-error"></span>
  <button name="submit">profile</button>
  <a href="/entry">Sign in</a>
</form>