<section class="container_align-center">
  <div class="profile-edit card">
    <form class="profile-edit__form card__form" name="profile">
      <h1 class="profile-edit__title card__title">Edit your profile:</h1>
      {{{inputs}}}
    </form>
    {{{button}}}
  <div/></section>