<h1>Registration!</h1>
<form class="registration__form" name="registration">
  <input
    class="registration__form-input"
    type="text"
    placeholder="first name"
    name="first_name"
  />
  <span class="registration__first-name-error form-error"></span>
  <input
    class="registration__form-input"
    type="text"
    placeholder="second name"
    name="second_name"
  />
  <span class="registration__second-name-error form-error"></span>
  <input
    class="registration__form-input"
    type="text"
    placeholder="login"
    name="login"
  />
  <span class="registration__login-error form-error"></span>
  <input
    class="registration__form-input"
    type="email"
    placeholder="email"
    name="email"
  />
  <span class="registration__email-error form-error"></span>
  <input
    class="registration__form-input"
    type="password"
    placeholder="password"
    name="password"
  />
  <span class="registration__first-password-error form-error"></span>
  <input
    class="registration__form-input"
    type="password"
    placeholder="password"
    name="password"
  />
  <span class="registration__second-password-error form-error"></span>
  <input
    class="registration__form-input"
    type="phone"
    placeholder="phone"
    name="phone"
  />
  <span class="registration__phone-error form-error"></span>
  <button name="submit">Registration</button>
  <a href="/entry">Sign in</a>
</form>