$primary-color: #3369F3;
$avatar-background-color: #efefef;
$button-disabled-color: gray;
$button-text-color: white;
$input-title-color: #999;
$input-error-color: red;
$modal-background-color: rgba(0, 0, 0, .5);
$not-found-text-color: #1e1e1e;
$default-background-color: #F8F8F8;

$short-view-background-color: #f2f5fa;
$short-view-active-background-color: #E4EDFD;