<a href="/chat">chat</a>
<a href="/profile">profile</a>
<a href="/signin">signin</a>
<a href="/registration">registration</a>
<a href="/edit-profile">profile edit</a>
<a href="/error">error</a>
<main class="main container_align-center">{{{content}}}</main>